include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include .zenodo.json
include Snakefile
recursive-include config *
recursive-include envs *
recursive-include workflow *
recursive-include src/babappasnake/_bundle *
exclude config/package_live_override.yaml
exclude src/babappasnake/_bundle/config/package_live_override.yaml
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
