__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.snakemake/
.DS_Store
build/
dist/
*.egg-info/
.venv/
.venv_pkgtest/
results/
results*/
/.cache/
errors.log
0_raw_proteomes/
1_RBH/
2_prank/
3_clipkit/
4_iqtree/
5_pal2nal/
6_hyphy/
7_codeml/
manuscript/
